parameters:
    secret: ThisTokenIsNotSoSecretChangeIt
    locale_fallback: fr
    ezpublish_legacy.default.view_default_layout: MetalFranceSiteBundle::pagelayout.html.twig
    imagemagick_path: /opt/local/bin/convert

    # Database
    database.type: mysql
    database.server: localhost
    database.name: metalfrance_450
    database.user: root
    database.password: root
