parameters:
    secret: ThisTokenIsNotSoSecretChangeIt
    locale: fr_FR

    ezpublish_legacy.default.view_default_layout: MetalFranceSiteBundle::pagelayout.html.twig
    imagemagick_path: /opt/local/bin/convert

    # Database
    database_driver: pdo_mysql
    database_host: localhost
    database_port: ~
    database_name: metalfrance_450
    database_user: root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    http_cache.purge_type: local
    http_cache.purge_servers: ["http://metalfrance.dev"]

    metalfrance.location_setttings.reviews: 91
    metalfrance.location_setttings.agenda: 12701
    metalfrance.location_setttings.news: 1158
    metalfrance.location_setttings.liveReports: 1011
    metalfrance.location_setttings.interviews: 12435
    metalfrance.location_setttings.photos: 8854
    metalfrance.location_setttings.contact: 13056
    metalfrance.location_setttings.footer: 15986
