metal_france_site:
    resource: "@MetalFranceSiteBundle/Resources/config/routing.yml"
    prefix:   /

_ezpublishRoutes:
    resource: "@EzPublishCoreBundle/Resources/config/routing/internal.yml"

_ezpublishLegacyRoutes:
    resource: "@EzPublishLegacyBundle/Resources/config/routing.yml"

_ezpublishRestRoutes:
    resource: "@EzPublishRestBundle/Resources/config/routing.yml"
    prefix:   %ezpublish_rest.path_prefix%
