/vendor/
.php~
/nbproject/
/.idea/
/bin/behat
/bin/phpunit
/bin/doctrine*
/ezpublish/sessions/
/ezpublish/cache/
/ezpublish/logs/
/ezpublish_legacy
/ezpublish/config/parameters.yml
/ezpublish/config/ezpublish_prod.yml-*
/ezpublish/config/ezpublish_dev.yml-*
/ezpublish/config/ezpublish.yml-*
/ezpublish/bootstrap.php.cache
/ezpublish/SymfonyRequirements.php
/ezpublish/check.php
/ezpublish/java/solr/ezp-default/data/
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/bundles/
/web/design
/web/extension
/web/share
/web/var
/web/.htaccess
/web/css/
/web/js/
composer.phar
