<footer id="mf-footer">
    <section class="mf-authors">
        <a href="http://www.autographique.net" target="_blank"><img src="{{ asset( 'bundles/metalfrancesite/images/ico/autographique.png' ) }}" alt="Autographique webdesign" /></a>
        <a href="http://www.lolart.net" target="_blank"><img src="{{ asset( 'bundles/metalfrancesite/images/ico/lolart.png' ) }}" alt="Lolart.net, développement web, eZ Publish" /></a>
    </section>

    <section class="mf-footer-links">
        {{ ez_render_field( footer_content, 'body' ) }}
        <br />

        Powered by <a href="http://share.ez.no" target="_blank" title="eZ Publish 5&#8482; CMS Open Source Web Content Management, Community edition">eZ Publish 5&#8482; Community Edition</a> &amp; <a href="http://vanillaforums.org" target="_blank">Vanilla Forums</a>.
        Copyright © 2011-2013 Metal France. Tous droits réservés.
    </section>
</footer>
