<!DOCTYPE html>
<html lang="fr-FR">
<head>

    {% block meta %}{% include "@MetalFranceSite/page_head.html.twig" %}{% endblock %}

    {% block css %}{% include "@MetalFranceSite/page_head_style.html.twig" %}{% endblock %}

    {% block js %}{% include "@MetalFranceSite/page_head_script.html.twig" %}{% endblock %}

</head>
<body>
    <script type="text/javascript">document.body.className = 'mf-js';</script>
    {% include "@MetalFranceSite/parts/facebook_init.html.twig" %}

    <!-- Header area: START -->
    {% block header %}{% include "@MetalFranceSite/page_header.html.twig" %}{% endblock %}
    <!-- Header area: END -->

    <!-- NAV -->
    {{ render_esi( controller( 'MetalFranceSiteBundle:Layout:topMenu' ) ) }}
    <!-- /NAV -->

    <!-- CONTENT -->
    {% block main_area %}
        {% set mainSectionCssClasses = mainSectionCssClasses|default( [] ) %}
    <div id="mf-content" class="mf-clear">
        <div class="mf-col-first">
        {#
            Most pages need a <section class="mf-section"> surrounding tag
            Homepage is an exception.
        #}
        {% set isHome = app.request.attributes.get( 'locationId' ) == ezpublish.rootLocation.id %}
        {% if not isHome %}<section class="mf-section {% for cssClass in mainSectionCssClasses %}{{ cssClass }} {% endfor %}">{% endif %}
            {% block content %}{% endblock %}
        {% if not isHome %}</section>{% endif %}
        </div>

        {% block sidebar %}{% include "@MetalFranceSite/sidebar.html.twig" %}{% endblock %}
    </div>
    {% endblock %}
    <!-- /CONTENT -->

    <!-- Columns area: END -->

    <!-- FOOTER -->
    {{ render_esi( controller( 'MetalFranceSiteBundle:Layout:footer' ) ) }}
    <!-- /FOOTER -->

    <!-- Complete page area: END -->

    <!-- Footer script area: START -->
    {% include "@MetalFranceSite/page_footer_script.html.twig" %}
    <!-- Footer script area: END -->

</body>
</html>
