<section id="mf-facebook" class="mf-section">
    <h4 class="mf-title">/// Facebook<span class="mf-sprite-header mf-sprite-facebook"></span></h4>

    <div class="mf-top">
        <div class="fb-like-box" data-href="{{ facebook["page_url"] }}" data-width="280"
             data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false"
             data-show-border="true"></div>
    </div>
</section>
