<section id="mf-facebook" class="mf-section">
    <h4 class="mf-title">/// Facebook<span class="mf-sprite-header mf-sprite-facebook"></span></h4>
    <div class="mf-top">
        <script src="http://connect.facebook.net/fr_FR/all.js#xfbml=1"></script>
        <fb:like-box href="https://www.facebook.com/MetalFrance" width="280" colorscheme="light" show_faces="true" stream="false" header="true"></fb:like-box>
    </div>
</section>
